<h1 class="login">Login</h1>

<%= form_tag(sessions_path, {:class => 'login_form'}) do %>
  <p>  
    <%= label_tag "user_name","Username:" %>
    <input id="user_name" name="user[user_name]" type="text" />
  </p>

  <p>  
    <%= label_tag "password" %>
    <input id="password" name="user[password]" type="password" />
  </p>

  <%= submit_tag "Login" %>

<% end %>