<div class="form-container">
<%= form_tag(sessions_path, {:class => 'form login-form'}) do %>
	<h2>Login</h2>
  <fieldset>
    <%= label_tag "email","Email:" %>
    <input id="email" name="user[email]" type="text" />
  </fieldset>

  <fieldset>  
    <%= label_tag "password" %>
    <input id="password" name="user[password]" type="password" />
  </fieldset>
  <fieldset>
 	 <%= submit_tag "Login" %>
  </fieldset>
<% end %>
</div>