<div id="next-level-modal">
	<div class="modal-content">
		<h1>Congratulations, you passed this challenge!</h1>	
		<%= link_to "Move on to the next level >",level_path(@level.next_level) if @level.next_level %>
	</div>
</div>
<section id="left-pane" class="pane">
	<aside id="portrait">
	</aside>
	<div id="level-pages">
		<% @level_pages.each do |page| %>
		<article class="level"> <%= page.content.html_safe %> </article>
		<% end %>
	</div>
</section>
<section id="repl">
	<div id="output">
		<pre id="output-text"></pre>
	</div>
	<div id="command-input" class="pane">
		<textarea id="sql-command" autofocus></textarea>
		<button type="button" id="execute">EXECUTE</button>
	</div>
</section>
