<main role="main" id="content">
	<section id="left-pane">
		<aside id="portrait">
		</aside>
		<div id="level-text">
		</div>
	</section>
	<section id="repl">
		<div id="output">
			<pre id="output-text">
			</pre>
		</div>
		<div id="command-input">
			<%= form_tag @user_level, :method =>"POST", :remote => true do %>
				<%= token_tag %>
				<%= text_field_tag :sql_command %>
				<%= submit_tag "Execute" %>
			<% end %>
		</div>
	</section>
</main>