<main role="main" id="content">
	<section id="left-pane" class="pane">
		<aside id="portrait">
		</aside>
		<div id="level-text">
		</div>
	</section>
	<section id="repl">
		<div id="output" class="pane">
			<pre id="output-text">
			</pre>
		</div>
		<div id="command-input" class="pane">
			<textarea id="sql-command" autofocus></textarea>
			<button type="button" id="execute">EXECUTE</button>
		</div>
	</section>
</main>