<div id="next-level-modal">
	<div class="modal-content">
		<h1>Congratulations, you passed this challenge!</h1>	
		<%= link_to "Move on to the next level >","/levels/#{@level.next_level.stage_number}" if @level.next_level %>
	</div>
</div>
<section id="left-pane" class="pane">
	<aside id="portrait">
	</aside>
	<div id="level-pages">
		<% @level_pages.each_with_index do |page, i| %>
		<article data-page-number="<%= i %>" class="level-page <% if i == 0  %>active<% end %>"><%= page.content.html_safe %></article>
		<% end %>
		<% if @level_pages.length > 1 %>
			<%= render partial:"pages_nav.html" %>
		<% end %>
	</div>
</section>
<section id="repl">
	<div id="output">
		<pre id="output-text"></pre>
	</div>
	<div id="command-input" class="pane">
		<textarea id="sql-command" autofocus></textarea>
		<button type="button" id="execute">EXECUTE</button>
	</div>
</section>
