/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */
 body{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 800px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: white;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

body a {
  color: white;
}

#content{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

input{
  background-color: black;
  color: #00ff00;
  outline: none;
  padding: .25em;
  border: 1px solid #00ff00;
}