/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */
 body{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 933px;
  height: 100%;
  min-height: 600px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: white;
  font-family: 'Glegoo', serif;
  background-color: black;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
}

.code{
  color: #00ff00;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable-text {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

body a {
  color: white;
}

body a:hover{
  color: #00ff00;
  text-decoration: none;
}

div#notice{
  padding-top: 50px;
  color: white;
  z-index: 4;
}

div#alert{
  padding-top: 50px;
  color: white;
  z-index: 4;

}

#content{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 50px 0 0 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}