/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

 body a {
  color: white;
 }

 header h2 {
  padding: 0 1em 0 0;
  display: inline-block;
  margin: 0;
 }

 header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 4;
  height: 40px;
  color: white;
  background-color: #444444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
 }

nav {
  width: 300px;
  height: 30px;
  display: block;
  float: right;
  position: relative;
  border: 1px solid black;
  padding: 5px;
  box-sizing: inherit;
}

nav:hover {
}

nav ul.nav-links {
  display: none;
}

nav:hover ul.nav-links {
  display: block;
  position: absolute;
  background-color: #444444;  
  top: 28px;
  left: -1px;
  width: 300px;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid black;  
  box-sizing: inherit;
}

nav:hover ul.nav-links li {
  display: block;
  width: 100%;
  height: auto;
  padding: 1em;
  border-bottom: 1px solid black;
  box-sizing: inherit;
}

.pane{
	border-width: 4px 4px 0px 0px;
	border-style: solid;
	border-color: #444444;
}