 @mixin border-box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 320px){
  header{
    width: 320px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    text-align: center;
  
  z-index: 4;
  height: 40px;
  color: white;
  background-color: #333333;
  @include border-box;
  }
  header nav, header span.session{
    display: none;
  }

  header>a{
    display: inline-block;
    width: 95%;
    height: 100%;
    overflow: hidden;
  }
  header>a>img.header-logo{
    display: block;
    width: 320px;
    float: left;
    height: auto;
  }
}
@media (min-width: 321px){
 header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 4;
  height: 40px;
  color: white;
  background-color: #333333;
  @include border-box;
  padding: 5px;
  text-align: center;
 }

 header span.session{
  display: inline-block;
  float: right;
  position: relative;
  top: .5em;
  padding-right: 1em;
 }

 header img.header-logo{
  padding: 2px 1em 0 0;
  margin-left: 12px;
  float: left;
 }

 header span.level-ctrls{
  display: inline-block;
  padding-top: .4em;
  font-size: 1.12em;
 }

 header span.level-ctrls h4{
  display: inline-block;
  margin: 0;
 }

 span.level-ctrls a{
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 0 .5em;
  font-size: .85em;
 }

nav {
  width: auto;
  height: 30px;
  display: block;
  float: right;
  position: relative;
  border: 1px solid #666666;
  padding: 5px 1em;
  text-align: right;
  @include border-box;
}

nav:hover {
}

nav ul.nav-links {
  display: none;
}

nav:hover ul.nav-links {
  display: block;
  position: absolute;
  background-color: #333333;  
  top: 28px;
  right: -1px;
  width: 250px;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #666666;;  
  @include border-box;
}

nav:hover ul.nav-links li {
  display: block;
  position: relative;
  text-align: left;
  width: 100%;
  height: auto;
  padding: .5em 1em;
  border-bottom: 1px solid #666666;
  @include border-box;
}

nav:hover ul.nav-links li.completed a{
  color: #00ff00;
  text-decoration: none;
}

nav:hover ul.nav-links li.completed::after{
  display: block;
  position: absolute;
  top: 30%;
  right: .5em;
  width: auto;
  height: auto;
  color: #00ff00;
  content: "✓";
}

.pane{
	border-style: solid;
	border-color: #333333;
}
}