@mixin border-box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

 header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 4;
  height: 40px;
  color: white;
  background-color: #333333;
  @include border-box;
  padding: 5px;
 }

 header span.session{
  display: inline-block;
  float: right;
  position: relative;
  top: 6px;
  padding-right: 1em;
 }

 header img.header-logo{
  padding: 2px 1em 0 0;
 }

nav {
  width: 250px;
  height: 30px;
  display: block;
  float: right;
  position: relative;
  border: 1px solid #666666;
  padding: 5px 1em;
  @include border-box;
}

nav:hover {
}

nav ul.nav-links {
  display: none;
}

nav:hover ul.nav-links {
  display: block;
  position: absolute;
  background-color: #333333;  
  top: 28px;
  left: -1px;
  width: 250px;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #666666;;  
  @include border-box;
}

nav:hover ul.nav-links li {
  display: block;
  width: 100%;
  height: auto;
  padding: .5em 1em;
  border-bottom: 1px solid #666666;
  @include border-box;
}

.pane{
	border-style: solid;
	border-color: #333333;
}