@mixin border-box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#left-pane{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 350px;
	height: 100%;
	padding: 40px 0 1em 0;
	background-color: black;
	z-index: 3;
	@include border-box;
	color: white;

}
#left-pane #hed{
	padding: .5em 1em;
}
#left-pane #hed h1, #left-pane #head h3{
	padding-top: 0;
	margin-top: 0;
}
#left-pane #level-pages{
	@include border-box;
	padding: 1em;
	bottom: 0;
	width: 100%;
	height: 75%;
	min-height: 340px;
	padding-bottom: 100px;
	position: absolute;
	bottom: 0;
}

#level-pages h4{
	margin: 0;
}

#level-pages article.level-page{
	display: none;
}

#level-pages article.level-page code{
	display: inline-block;
	background-color: #333333;
	font-family: Consolas, monaco, monotype;
	color: #00ff00;
}

#level-pages article.level-page.active{
	display: block;
	position: relative;
	overflow-y: scroll;
	height: auto;
	max-height: 100%;
	@include border-box;
	padding: 0;
	border: 1px solid white;
	padding: .25em;
}
#level-pages #pages-nav{
	text-align: center;
	position: absolute;
	width: 100%;
	@include border-box;
	padding: 0 1em 0 1em;
	bottom: 5px;
	left: 0;
	height: 50px;
	margin: 0;
}
span#page-number, span#number-of-pages{
	position: relative;
	top: .8em;
}
#pages-nav span.arrow{
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 73px;
	height: 50px;
	cursor: pointer;
	background-image: url(/assets/arrow-sprite.png);
}
#pages-nav span.arrow.left{
	float: left;
	background-position: left bottom;
}

#pages-nav span.arrow.left:hover{
	background-position: left top;
}

#pages-nav span.arrow.right{
	float: right;
	background-position: right bottom;
}
#pages-nav span.arrow.right:hover{
	background-position: right top;
}
#repl{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 40px 0 0 350px;
	width: 100%;
	height: 100%;
	background-color: #333333;
	z-index: 1;
	@include border-box;
	font-family: Consolas, monaco, monospace;
}
div#repl div#output{
	width: 100%;
	height: 450px;
}
#output{
	position: relative;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	padding: 0 0 183px 0;
	background-color: #333333;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	@include border-box;
}
#output pre{
	position: relative;
	margin: 0 auto 0 auto;
	padding: 1em;
	background-color: black;
	width: 100%;
	min-height: 100%;
	height: auto;
	@include border-box;
	color: #66ff33;
}

#command-input{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	width: 100%;
	height: auto;
	padding: 0 0 0 350px;
	@include border-box;
	z-index: 2;
	@include border-box;
	background-color: black;
}
#command-input #sql-command{
	display: block;
	width: 100%;
	@include border-box;
	height: 125px;
	resize: none;
	background-color: black;
	color: #66ff33;
	@include border-box;
	padding: 1em 1em 1em 1em;
	margin-bottom: 4em;
	font-size: 1em;
	line-height: 1.5;
	outline: none;
	border: none;
}
#command-input #execute{
	font-family: Consolas, monaco, monotoype;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 3;
	display: block;
	width: auto;
	@include border-box;
	box-shadow: -2px 0px 0px 0px #66ff33, 0px -2px 0px 0px #66ff33, 0px 2px 0px 0px #66ff33, 2px 0px 0px 0px #66ff33;
	font-size: 1em;
	line-height: 1;
	padding: .75em;
	border: 0px solid transparent;
	background-color: #004000;
	border-radius: 2px;
	color: #66ff33;
}

span.error{
	color:red;
}

span.message{
	color:orange;
}

#next-level-modal{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	@include border-box;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 10;
}
#next-level-modal.active{
	display: block;
}
#next-level-modal div.modal-content{
	position: relative;
	width: 500px;
	height: auto;
	top: 50%;
	margin: -250px auto auto auto;
	background-color: #333333;
	border: 4px solid #444444;
	padding: 2em;
	@include border-box;
}

#schemata{
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 187px;
	right: 0;
	text-align: right;
	z-index: 6;
	margin: 0;
	padding: 0;
}

#schemata ul.schema-tabs{
	display: block;
	width: 100%;
	height: 35px;
	padding: 0;
	margin: 0;
	list-style: none;
	background: transparent;
	text-indent: none;
}

#schemata ul.schema-tabs li.tab{
	text-align: center;
	position: relative;
	bottom: 0;
	@include border-box;
	padding: .65em;
	display: inline-block;
	width: auto;
	height: 35px;
	float: right;
	border-right: 1px solid black;
	background-color: #333333;
	cursor: pointer;
}
#schemata ul.schema-tabs li.tab:first-child{
	border: none;
}
#schemata ul.schema-tabs li.tab div.schema-table{
	display: none;
}
#schemata ul.schema-tabs li.tab.active span.tab-title{
	display: none;
}
#schemata ul.schema-tabs li.tab.active div.schema-table{
	@include border-box;
	position: absolute;
	display: block;
	width: auto;
	min-width: 250px;
	bottom: 0px;
	right: 0px;
	z-index: 7;
	height: auto;
	background-color: #333333;
	padding: 1em;
}
#schemata ul.schema-tabs li.tab.active div.schema-table ul.schema{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
#schemata ul.schema-tabs li.tab.active div.schema-table ul.schema li.column{
	display: block;
	text-align: left;
	width: auto;
}
#schemata ul.schema-tabs li.tab.active div.schema-table ul.schema li.column::after{
	display: block;
	width: 0;
	height: 0;
	clear: right;
}
ul.schema li.column span.column-type{
	display: inline-block;
	float: right;
}
